body {
  font-family: Arial, sans-serif;
  background-color: #739bb2; /* warna biru muda dari gambar */
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

h1 {
  color: white;
  margin-bottom: 30px;
  font-weight: 500;
}

.signin-box {
  background-color: #3c3c46; /* abu gelap */
  padding: 40px;
  border-radius: 8px;
  width: 300px;
  box-sizing: border-box;
}

.signin-box h2 {
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
}

input::placeholder {
  color: #b0b0b0;
}

button {
  width: 100%;
  padding: 15px;
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 10px;
  color: #b0b0b0;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #5a5a68;
  color: white;
}
